#AF_kph0{display:none!important}
#AF_kph1{display:none!important}
#BlWrapper > .b-temp_rbc{display:none!important}
#JobInformer{display:none!important}
#MT_overroll ~ div[class][style="left:0px;top:0px;height:480px;width:650px;"]{display:none!important}
#PopWin[onmousemove]{display:none!important}
#SR_PopOver{display:none!important}
#SR_PopOverModalBackground{display:none!important}
#ad_ph_2{display:none!important}
#ad_ph_3{display:none!important}
#ad_ph_4{display:none!important}
#ad_ph_8{display:none!important}
#addsDiv{display:none!important}
#adv{display:none!important}
#adv_kod_frame{display:none!important}
#adv_kod_frame ~ #gotimer{display:none!important}
#adv_unisound ~ #ad_module_cont > [id^="ad_module"]{display:none!important}
#adv_unisound ~ #main > #slidercontentContainer{display:none!important}
#advblock{display:none!important}
#advideo_adv{display:none!important}
#advideo_adv_main_div{display:none!important}
#advm_preload{display:none!important}
#cyberinfrm_18{display:none!important}
#eropromo_icq{display:none!important}
#export_test_inboobs{display:none!important}
#fp_adv{display:none!important}
#fp_banner{display:none!important}
#fresh_flyroll_div{display:none!important}
#fullBannerContent{display:none!important}
#gaminator{display:none!important}
#girlsBar{display:none!important}
#h_24x4{display:none!important}
#idealmedia{display:none!important}
#idealmedia_container{display:none!important}
#limonads_body{display:none!important}
#logethy_iframe{display:none!important}
#magnaInformer{display:none!important}
#marketgid{display:none!important}
#mmmBanner{display:none!important}
#movie_video:empty{display:none!important}
#nor_wrap{display:none!important}
#novem_billboard{display:none!important}
#onesignal-bell-container{display:none!important}
#potok_flyroll_div{display:none!important}
#radeant{display:none!important}
#vPreloader{display:none!important}
#vid_vpaut_div{display:none!important}
#winvideoPlayer{display:none!important}
#zhlobam_net_informer_console{display:none!important}
.AdWheelClick{display:none!important}
.MIXADVERT_NET{display:none!important}
.SC_TBlock{display:none!important}
.ad-240x400{display:none!important}
.ad-richmedia{display:none!important}
.ad-richmedia-overlay{display:none!important}
.admachina-banner{display:none!important}
.ads300-thumb{display:none!important}
.ads600x200{display:none!important}
.ads_600x200{display:none!important}
.adsbyyottos{display:none!important}
.adv-youdo{display:none!important}
.advblock{display:none!important}
.advertblock{display:none!important}
.ah-teaser-wrapper{display:none!important}
.ainsyndication{display:none!important}
.airbnb-embed-frame{display:none!important}
.ammblock{display:none!important}
.appwidget-journalpromo{display:none!important}
.b-banner{display:none!important}
.b-journalpromo-container{display:none!important}
.b-media-banner{display:none!important}
.b-offers_type_extra{display:none!important}
.banner-label{display:none!important}
.base-page_center > .banerBottom{display:none!important}
.base-page_center > .banerTop{display:none!important}
.base-page_center > .banerTopOver{display:none!important}
.base-page_container > .banerRight{display:none!important}
.base-page_left-side > #left_ban{display:none!important}
.bc-adv{display:none!important}
.bc_adv_container{display:none!important}
.bigClickTeasersBlock{display:none!important}
.block_rekl{display:none!important}
.blockadwide{display:none!important}
.blog-post__video-ad{display:none!important}
.bottom_serial_reklama{display:none!important}
.btn_rec{display:none!important}
.cls_placeholder_gnezdo{display:none!important}
.content_rb[id^="content_rb_"]{display:none!important}
.da-widget{display:none!important}
.da_adp_teaser{display:none!important}
.directadvert-block{display:none!important}
.e-ta-rg{display:none!important}
.flat_ads_block{display:none!important}
.fp-player > #onion_wrap{display:none!important}
.fp-player > div[style*="position: absolute"][style*="inset: 0px"][style*="overflow: hidden"][style*="z-index:"][style*="background: transparent"][style*="display: block"]{display:none!important}
.gaminator{display:none!important}
.goha_ads{display:none!important}
.goha_ads_acceptable{display:none!important}
.grv-bell-host{display:none!important}
.h_banner{display:none!important}
.header-banner > #moneyback[target="_blank"]{display:none!important}
.health-inline-ads{display:none!important}
.idealmedia{display:none!important}
.itemLinkPET.plista_widget_belowArticle_item{display:none!important}
.j-li_sidebar-banner{display:none!important}
.js-ognyvo__item{display:none!important}
.js-setka-media{display:none!important}
.lj-recommended{display:none!important}
.madv{display:none!important}
.mc_cars_row{display:none!important}
.mediaget{display:none!important}
.medicinetizer{display:none!important}
.merc_title{display:none!important}
.merc_title_2{display:none!important}
.modul-search{display:none!important}
.module-one-search{display:none!important}
.mov_ads{display:none!important}
.mts_ad_widget{display:none!important}
.mtt-adhesion-container{display:none!important}
.mywidget__col > .mywidget__link_advert{display:none!important}
.ncwAdCommon{display:none!important}
.novelty-banner ~ .dle_b_help > a[target="_blank"]{display:none!important}
.novinator{display:none!important}
.onona-block{display:none!important}
.pb_left_banner{display:none!important}
.pb_right_banner{display:none!important}
.pb_top_img{display:none!important}
.perfluence-widget-block{display:none!important}
.pip-video-wrapper > .pip-video-label{display:none!important}
.player-wrap > #kt_player ~ .spot-box{display:none!important}
.plista-powered{display:none!important}
.pop-transformer-form[style*="2C3F57"][style*="flex"]{display:none!important}
.pr-AVA{display:none!important}
.pr-AVA2{display:none!important}
.redtram{display:none!important}
.roxot-dynamic{display:none!important}
.serp-adv__banner{display:none!important}
.serp-block_type_market-offers{display:none!important}
.shareaholic-ad{display:none!important}
.smartmedia-lenta{display:none!important}
.smi24__informer{display:none!important}
.sp_search2_table{display:none!important}
.sp_search3_table{display:none!important}
.sp_search_table{display:none!important}
.stream-item-widget{display:none!important}
.surbis_banner{display:none!important}
.tiezerlady{display:none!important}
.topbaner{display:none!important}
.travelpayouts_container-offers-carousel.carousel{display:none!important}
.tv-grid__item-adv-content{display:none!important}
.tv-grid__item-adv_wide_no{display:none!important}
.tv-grid__item.tv-sortable-item.tv-sortable-item_sortable_no.tv-sortable-item_draggable_no{display:none!important}
.ubar{display:none!important}
.vit_adf{display:none!important}
.webnavoz_notificationbox{display:none!important}
.ya-direct{display:none!important}
.ya-partner{display:none!important}
.yandex-rtb{display:none!important}
.yandex-rtb-block{display:none!important}
DIV[id^="DIV_NNN_"]{display:none!important}
[class^="flat_"][class*="_cross"]{display:none!important}
[class^="flat_"][class*="_crss"]{display:none!important}
[class^="flat_"][class*="_modal"]{display:none!important}
[class^="flat_"][class*="_out"]{display:none!important}
[class^="fpm_"][class*="_cross"]{display:none!important}
[class^="fpm_"][class*="_crss"]{display:none!important}
[class^="fpm_"][class*="_modal"]{display:none!important}
[class^="fpm_"][class*="_out"]{display:none!important}
[data-href*="://download.cdn.yandex.net/yandex-tag/weboffer/"]{display:none!important}
[data-la-block-show-id]{display:none!important}
[data-la-block]{display:none!important}
[data-la-custom-block]{display:none!important}
[data-la-refresh-timeout]{display:none!important}
[data-la-show-block-id]{display:none!important}
[data-la-show-id]{display:none!important}
[data-link*="//sub"][data-link*="bubblesmedia."]{display:none!important}
[data-link*="//ufiler-pro2.ru"]{display:none!important}
[data-link*="/sb/clk/"]{display:none!important}
[data-link*="://topclicks.club/"]{display:none!important}
[data-link*="://ubar-pro"]{display:none!important}
[data-membrana-container]{display:none!important}
[data-src^="https://news.te.ua/widget/"]{display:none!important}
[data-url*="://installpack.net"]{display:none!important}
[href*=".drp.su/"]{display:none!important}
[href*="//loadbrowser.ru/"]{display:none!important}
[href*="//takenewsofts.ru/"]{display:none!important}
[href*="/uni-tds.com/"]{display:none!important}
[href*="/vaigowoa.com"]{display:none!important}
[href*="://browseit.ru/"]{display:none!important}
[href*="://click.1k3pub.com/"]{display:none!important}
[href*="://click.1k3web.com/"]{display:none!important}
[href*="://click.1k3web.net/"]{display:none!important}
[href*="://clickpzk.com/"]{display:none!important}
[href*="://download.cdn.yandex.net/yandex-tag/weboffer/"]{display:none!important}
[href*="://drp.su/"]{display:none!important}
[href*="://edgrmtracking.com/"]{display:none!important}
[href*="://go.leadgid.ru/aff_c?"]{display:none!important}
[href*="://morelnk.ru/"]{display:none!important}
[href*="://shopblogger.top/"]{display:none!important}
[href*="://simpalsid.com/ad/click?id"]{display:none!important}
[href*="://track.leadbazaar.co/click?"]{display:none!important}
[href*="driftawayforfun.com"]{display:none!important}
[href*="driverpack.io/"]{display:none!important}
[href*="pigiuqproxy.com"]{display:none!important}
[href*="postlnk.com"]{display:none!important}
[href^="https://pxl.leads.su/click/"]{display:none!important}
[href^="https://trkleads.su/click/"]{display:none!important}
[id^="n4p_"]{display:none!important}
[id^="newPortal_informer_"]{display:none!important}
[id^="relap-custom-iframe-rec"]{display:none!important}
[id^="unit_"] > a[href*="://mirtesen.ru"]{display:none!important}
[id^="unit_"] > a[href*="://vrf.ru"]{display:none!important}
[id^="unit_"] > a[href*="smi2."]{display:none!important}
[onclick*=".twkv.ru"]{display:none!important}
[onclick*="//msetup.pro/"]{display:none!important}
[onclick*="//sub"][onclick*="bubblesmedia."]{display:none!important}
[onclick*="/sb/clk/"]{display:none!important}
[onclick*="mixadvert.com"]{display:none!important}
[onclick*="msetup"][onclick*="partner"][onclick*="utm_"]{display:none!important}
[onclick*="traffic-media.co"]{display:none!important}
[onclick*="trklp.ru"]{display:none!important}
[src*="://dynspt.com/"]{display:none!important}
[src*="mixadvert.com"]{display:none!important}
[src^="//am15.net/?"]{display:none!important}
a[class*="button"][href^="//"][href*="yandex"][onclick*="dnl"][onclick*="knopka"]{display:none!important}
a[class*="button"][href^="/go/"][href*="visitid"][onclick*="dnl"]{display:none!important}
a[data-href*="recreativ.ru"]{display:none!important}
a[href*=".adsbid.ru"]{display:none!important}
a[href*=".braun634.com/"]{display:none!important}
a[href*=".orgsales.ru"]{display:none!important}
a[href*=".pokupkins.ru"]{display:none!important}
a[href*=".rdtracer.com"]{display:none!important}
a[href*=".twkv.ru"]{display:none!important}
a[href*=".ufiler.pro/"]{display:none!important}
a[href*="//12traffic.ru/"]{display:none!important}
a[href*="//1xbetlk.site/"]{display:none!important}
a[href*="//24smi."][href*="/top/"]{display:none!important}
a[href*="//adoffer.pro/"]{display:none!important}
a[href*="//adretarget.net/"]{display:none!important}
a[href*="//advtise.ru/"]{display:none!important}
a[href*="//appt12mn.com/"]{display:none!important}
a[href*="//avertise.ru/"]{display:none!important}
a[href*="//bestonewos.com/"]{display:none!important}
a[href*="//clickdome.online/"]{display:none!important}
a[href*="//dagamah.com/"]{display:none!important}
a[href*="//do-rod.com/"]{display:none!important}
a[href*="//dzen.ru"][href*="favid"]{display:none!important}
a[href*="//ext-load.net"]{display:none!important}
a[href*="//febrare.ru/"]{display:none!important}
a[href*="//fofuvipibo.com/"]{display:none!important}
a[href*="//gerocenius.com/"]{display:none!important}
a[href*="//getmybrowser.ru/"]{display:none!important}
a[href*="//givemysoft.ru/"]{display:none!important}
a[href*="//go.leadassets.net/r/"]{display:none!important}
a[href*="//go.webredir.net/r/"]{display:none!important}
a[href*="//historategory.com/"]{display:none!important}
a[href*="//loderla.online"]{display:none!important}
a[href*="//loderls.ru"]{display:none!important}
a[href*="//loderlx.ru"]{display:none!important}
a[href*="//loderna.ru"]{display:none!important}
a[href*="//myblogshop.top/r/"]{display:none!important}
a[href*="//newbrowser.me/"]{display:none!important}
a[href*="//offergate.pro/"]{display:none!important}
a[href*="//parandeya.com/"]{display:none!important}
a[href*="//partners.house/"]{display:none!important}
a[href*="//portakamus.com/"]{display:none!important}
a[href*="//refpabjgth.top/"]{display:none!important}
a[href*="//refpaewsbc.top/"]{display:none!important}
a[href*="//reruniversal.com/"]{display:none!important}
a[href*="//restofarian.com"]{display:none!important}
a[href*="//softboxik1.ru/"]{display:none!important}
a[href*="//spishi.vip/"]{display:none!important}
a[href*="//sub"][href*="bubblesmedia."]{display:none!important}
a[href*="//tdsrotate.ru/"]{display:none!important}
a[href*="//tekaners.com/"]{display:none!important}
a[href*="//tiruniversal.com/"]{display:none!important}
a[href*="//tranqvilius.com/"]{display:none!important}
a[href*="//ubar-pro"]{display:none!important}
a[href*="//ubar.pro"]{display:none!important}
a[href*="//ufiler-pro2.ru"]{display:none!important}
a[href*="//universalice.info/"]{display:none!important}
a[href*="//universalie.info/"]{display:none!important}
a[href*="//universalies.info/"]{display:none!important}
a[href*="//universalin.info/"]{display:none!important}
a[href*="//universalini.info/"]{display:none!important}
a[href*="//universalse.info/"]{display:none!important}
a[href*="//universalut.info/"]{display:none!important}
a[href*="//utimg.ru/"]{display:none!important}
a[href*="//viruniversal.com/"]{display:none!important}
a[href*="//webbrowser.club/"]{display:none!important}
a[href*="//yandex.ru/adfox/"]{display:none!important}
a[href*="//yojlf.com"]{display:none!important}
a[href*="//zen.yandex.ru/"]{display:none!important}
a[href*="/advertisesimple.info"]{display:none!important}
a[href*="/advjump.com"]{display:none!important}
a[href*="/afftraf.co/"]{display:none!important}
a[href*="/api/redirect?offerid="]{display:none!important}
a[href*="/ber-ter.com"]{display:none!important}
a[href*="/click?offer_id="][href*="landing_"][href*="partner_"]{display:none!important}
a[href*="/clubleads.ru"]{display:none!important}
a[href*="/eversaree.bid"]{display:none!important}
a[href*="/fastvk.com"]{display:none!important}
a[href*="/get-torrent.ru"]{display:none!important}
a[href*="/go.1k3.net/"]{display:none!important}
a[href*="/installpack.net"]{display:none!important}
a[href*="/kshop3.biz"]{display:none!important}
a[href*="/loaderu.ru/"]{display:none!important}
a[href*="/mosday.ru/ad/"]{display:none!important}
a[href*="/myuniversalnk.com/"]{display:none!important}
a[href*="/myuniversalnk.net/"]{display:none!important}
a[href*="/newbrowser.club/"]{display:none!important}
a[href*="/ogclick.com/api/redirect"]{display:none!important}
a[href*="/onvix.co/promo/"][target=_blank]{display:none!important}
a[href*="/onvix.me/promo/"][target=_blank]{display:none!important}
a[href*="/onvix.tv/promo/"][target=_blank]{display:none!important}
a[href*="/rapidtor.ru"]{display:none!important}
a[href*="/rapidtor.site"]{display:none!important}
a[href*="/rlink/simptizer/"]{display:none!important}
a[href*="/sarimsolus.com/"]{display:none!important}
a[href*="/sb/clk/"]{display:none!important}
a[href*="/u-loads.ru/"]{display:none!important}
a[href*="/uloads.ru/"]{display:none!important}
a[href*="/uni-lnk.com/"]{display:none!important}
a[href*="/universal-lnk.net/"]{display:none!important}
a[href*="/universallnk.net/"]{display:none!important}
a[href*="/universalsrc.com/"]{display:none!important}
a[href*="/universalsrc.net/"]{display:none!important}
a[href*="/vkout.ru"]{display:none!important}
a[href*="/yfiles1.ru"]{display:none!important}
a[href*="://101partners-stat2.com/"]{display:none!important}
a[href*="://adv-views.com"]{display:none!important}
a[href*="://analyticsq.com"]{display:none!important}
a[href*="://bestnewsoft.ru/"]{display:none!important}
a[href*="://betahit.click/"]{display:none!important}
a[href*="://betsxwin.pro/"]{display:none!important}
a[href*="://bs.serving-sys.ru/"]{display:none!important}
a[href*="://bubblevard.com/"]{display:none!important}
a[href*="://chikidiki.ru"]{display:none!important}
a[href*="://click2soft.ru/"]{display:none!important}
a[href*="://clickbytes.ru/"]{display:none!important}
a[href*="://clickfrm.com/"]{display:none!important}
a[href*="://clickrpk.com/"]{display:none!important}
a[href*="://clicks.af-ru2e2e.com/"]{display:none!important}
a[href*="://clickstats.fun/"]{display:none!important}
a[href*="://clickstats.online/"]{display:none!important}
a[href*="://clickstats.pw/"]{display:none!important}
a[href*="://cozibaneco.com/"]{display:none!important}
a[href*="://dafeb.ru/"]{display:none!important}
a[href*="://dmtech05.com/"]{display:none!important}
a[href*="://downloadbrowsernew.com/"]{display:none!important}
a[href*="://downloadcontent2.ru/"]{display:none!important}
a[href*="://doxod24.online/"]{display:none!important}
a[href*="://edugrampromo.com/"]{display:none!important}
a[href*="://elgrur.com/"]{display:none!important}
a[href*="://et-cod.com/"]{display:none!important}
a[href*="://etcodes.com/"]{display:none!important}
a[href*="://extlinka.ru/"]{display:none!important}
a[href*="://fast2click.ru/"]{display:none!important}
a[href*="://filesmytop.ru/"]{display:none!important}
a[href*="://filetaker.ru/"]{display:none!important}
a[href*="://folltiz.site/"]{display:none!important}
a[href*="://gertadv.ru/"]{display:none!important}
a[href*="://getbrauzer.ru/"]{display:none!important}
a[href*="://getfiletds.ru/"]{display:none!important}
a[href*="://getyoursoft.ru/"]{display:none!important}
a[href*="://getyousoft.ru/"]{display:none!important}
a[href*="://go.btraffic.net/"]{display:none!important}
a[href*="://go.bundlebyte.net/r/"]{display:none!important}
a[href*="://go.click2bit.net/"]{display:none!important}
a[href*="://go.progfile.space/r/"]{display:none!important}
a[href*="://gonewfiles.ru/"]{display:none!important}
a[href*="://gopremiumsoft.com/"]{display:none!important}
a[href*="://gridsiali.com/"]{display:none!important}
a[href*="://hypmag.ru/search/pereh.php"]{display:none!important}
a[href*="://installpack.ru"]{display:none!important}
a[href*="://kinobud.site/"]{display:none!important}
a[href*="://landingtracker.com/"]{display:none!important}
a[href*="://lapina.best/"]{display:none!important}
a[href*="://lapina.xyz/"]{display:none!important}
a[href*="://lobar.site/r/"]{display:none!important}
a[href*="://loderkkis.ru"]{display:none!important}
a[href*="://lubar.icu/r/"]{display:none!important}
a[href*="://lubar.xyz/r/"]{display:none!important}
a[href*="://manysoftlink.ru/"]{display:none!important}
a[href*="://matchnow.info"]{display:none!important}
a[href*="://mysoftrotate.ru/"]{display:none!important}
a[href*="://new.torrent-pack.ru/"]{display:none!important}
a[href*="://newbrowserme.ru/"]{display:none!important}
a[href*="://offergate-apps-phkr.com/"]{display:none!important}
a[href*="://ourbrowser.net"]{display:none!important}
a[href*="://parandaya.com"]{display:none!important}
a[href*="://premiumredir.ru/"]{display:none!important}
a[href*="://profiledbase.com/"]{display:none!important}
a[href*="://r.advg.agency/"]{display:none!important}
a[href*="://r.advmusic.com/"]{display:none!important}
a[href*="://ref.studwork.ru/"]{display:none!important}
a[href*="://refpamjeql.top/"]{display:none!important}
a[href*="://reidancis.com/"]{display:none!important}
a[href*="://riaccaw.com/"]{display:none!important}
a[href*="://ruonline.bar/"]{display:none!important}
a[href*="://ruprivate.club/"]{display:none!important}
a[href*="://sdertjnbv.xyz/"]{display:none!important}
a[href*="://search-cdn.ru/r/"]{display:none!important}
a[href*="://searchlnk.ru/r/"]{display:none!important}
a[href*="://segodnia.club/"]{display:none!important}
a[href*="://shusnarmuk.com/"]{display:none!important}
a[href*="://softclicks.ru/"]{display:none!important}
a[href*="://softdl.site/"]{display:none!important}
a[href*="://sugisatomi.com/"]{display:none!important}
a[href*="://superiortds.ru/"]{display:none!important}
a[href*="://takenewsoft.ru/"]{display:none!important}
a[href*="://tatarkoresh.ru"]{display:none!important}
a[href*="://tdsrotations.ru/"]{display:none!important}
a[href*="://techdmn.com/"]{display:none!important}
a[href*="://telamon"][href*="/tracker/?partner="]{display:none!important}
a[href*="://tele.gg/"]{display:none!important}
a[href*="://tlmnt"][href*="/tracker/?partner="]{display:none!important}
a[href*="://topclicks.club/"]{display:none!important}
a[href*="://topsofto.ru/"]{display:none!important}
a[href*="://tracker.partnersmelbet.ru/"]{display:none!important}
a[href*="://tracker.rioaffi.com/"]{display:none!important}
a[href*="://ufiler-download.ru/"]{display:none!important}
a[href*="://ufiler-pro.ru/"]{display:none!important}
a[href*="://viewfilesup.ru/"]{display:none!important}
a[href*="://vpnbrowser.ru/"]{display:none!important}
a[href*="://vse-sdal.com/promo/"]{display:none!important}
a[href*="://womens-journal.ru/"]{display:none!important}
a[href*="://www.meendoru.net/?partner="]{display:none!important}
a[href*="://ya-browser.ru/r/"]{display:none!important}
a[href*="://ya-cdn.ru/r/"]{display:none!important}
a[href*="://ya-distrib.ru/r/"]{display:none!important}
a[href*="://yadistr.ru/"]{display:none!important}
a[href*="://yasearchcdn.ru/r/"]{display:none!important}
a[href*="://yourlnk.ru/r/"]{display:none!important}
a[href*="://z.cdn.traffic"][href*="/load"]{display:none!important}
a[href*="adnetwork.bet/"]{display:none!important}
a[href*="adpool.bet/"]{display:none!important}
a[href*="ads-provider.com"]{display:none!important}
a[href*="ads2-adnow.com"]{display:none!important}
a[href*="advertwebgid.ru"]{display:none!important}
a[href*="amgfile.ru"]{display:none!important}
a[href*="amigo-biz.ru/ads/click"]{display:none!important}
a[href*="awesomeredirector"]{display:none!important}
a[href*="beauty-list.ru"]{display:none!important}
a[href*="bestforexplmdb.com"]{display:none!important}
a[href*="bgrndi.com"]{display:none!important}
a[href*="browser-ru.site"]{display:none!important}
a[href*="click.lp-link.ru"][href*="landing"]{display:none!important}
a[href*="clickscloud.net"]{display:none!important}
a[href*="cmsmodnews.com"]{display:none!important}
a[href*="cosmolot.me/"][href*="banner"]{display:none!important}
a[href*="cpagetti1.com"]{display:none!important}
a[href*="cpl1.ru"]{display:none!important}
a[href*="cpl11.ru"]{display:none!important}
a[href*="ex.24smi.info"]{display:none!important}
a[href*="feellights.ru"]{display:none!important}
a[href*="filebase.me"]{display:none!important}
a[href*="films.ws"]{display:none!important}
a[href*="flylinks.pw"]{display:none!important}
a[href*="fortedrow.pro"]{display:none!important}
a[href*="ftpglst.com"]{display:none!important}
a[href*="go.ad2up.com"]{display:none!important}
a[href*="gocdn.ru"]{display:none!important}
a[href*="goext.info"]{display:none!important}
a[href*="goodtrack.ru"]{display:none!important}
a[href*="gpclick.ru"]{display:none!important}
a[href*="herrabjec.pro"]{display:none!important}
a[href*="homework.ru/?partnerId="]{display:none!important}
a[href*="https://relap.io/r?"]{display:none!important}
a[href*="idealmedia.io"]{display:none!important}
a[href*="intovarro.ru"]{display:none!important}
a[href*="joycasino.com/?partner="]{display:none!important}
a[href*="katuhus.com"]{display:none!important}
a[href*="kinqon.ru"]{display:none!important}
a[href*="kma1.biz"]{display:none!important}
a[href*="kodielinktrust.ru"]{display:none!important}
a[href*="kshop2.biz"]{display:none!important}
a[href*="land-gooods.ru"]{display:none!important}
a[href*="lifebloggersz.ru"]{display:none!important}
a[href*="lifenews24x7.ru"]{display:none!important}
a[href*="linkmyc.com"]{display:none!important}
a[href*="litewebbusiness.com"]{display:none!important}
a[href*="m1cpl.ru"]{display:none!important}
a[href*="makegreat.website"]{display:none!important}
a[href*="media-rotate.com"]{display:none!important}
a[href*="mixadvert.com"]{display:none!important}
a[href*="muz-loader.site"]{display:none!important}
a[href*="navaxudoru.com"]{display:none!important}
a[href*="netcrys.com"]{display:none!important}
a[href*="news"][href*="favid"]{display:none!important}
a[href*="news-sphere.com"]{display:none!important}
a[href*="nhebd.xyz"]{display:none!important}
a[href*="octoclick.net"]{display:none!important}
a[href*="offhealth.ru"]{display:none!important}
a[href*="please-direct.com"]{display:none!important}
a[href*="please-direct.me"]{display:none!important}
a[href*="problogrus.ru"]{display:none!important}
a[href*="re-directme.com"]{display:none!important}
a[href*="refpazus.top"]{display:none!important}
a[href*="retagapp.com"]{display:none!important}
a[href*="rexchange.begun.ru/rclick?"]{display:none!important}
a[href*="sandratand.ru"]{display:none!important}
a[href*="sapmedia.ru"]{display:none!important}
a[href*="shakes.pro"]{display:none!important}
a[href*="shakescash.com"]{display:none!important}
a[href*="shakesclick.com"]{display:none!important}
a[href*="shakesin.com"]{display:none!important}
a[href*="shakespoint.com"]{display:none!important}
a[href*="slovosil.com"]{display:none!important}
a[href*="sviruniversal.com/"]{display:none!important}
a[href*="tdstrk.ru"]{display:none!important}
a[href*="thor-media.ru/click/"]{display:none!important}
a[href*="top.24smi.info"]{display:none!important}
a[href*="torrentum.ru"]{display:none!important}
a[href*="tptrk.ru"]{display:none!important}
a[href*="trafgid.xyz"]{display:none!important}
a[href*="traflabs.xyz"]{display:none!important}
a[href*="trk-1.com"]{display:none!important}
a[href*="trklp.ru"]{display:none!important}
a[href*="trtkp.ru"]{display:none!important}
a[href*="turbotraf.com"]{display:none!important}
a[href*="tvks.ru"]{display:none!important}
a[href*="tvkw.ru"]{display:none!important}
a[href*="tvroff.net"]{display:none!important}
a[href*="twtn.ru/"]{display:none!important}
a[href*="ultrabit.ws"]{display:none!important}
a[href*="webdiana.ru/click"]{display:none!important}
a[href*="wow-partners.com/click.php"]{display:none!important}
a[href*="xxxrevpushclcdu.com"]{display:none!important}
a[href*="zdravo-med.ru"]{display:none!important}
a[href="http://advert.mirtesen.ru/"]{display:none!important}
a[href^="/go/ubar?"]{display:none!important}
a[href^="/go/ufiler?"]{display:none!important}
a[href^="/images/obmen/"][href$=".php"][target="_blank"]{display:none!important}
a[href^="http://amigodistr.ru/"]{display:none!important}
a[href^="http://apytrc.com/click/"]{display:none!important}
a[href^="http://browserload.info/"]{display:none!important}
a[href^="http://datxxx.com"]{display:none!important}
a[href^="http://eaplay.ru/"]{display:none!important}
a[href^="http://fly-shops.ru"]{display:none!important}
a[href^="http://glprt.ru/affiliate/"]{display:none!important}
a[href^="http://kshop.biz/"]{display:none!important}
a[href^="http://luckiestclick.com/goto."]{display:none!important}
a[href^="http://olivka.biz/"]{display:none!important}
a[href^="http://putanapartners.com/go."]{display:none!important}
a[href^="http://reals-story.ru/"]{display:none!important}
a[href^="http://tds-2.ru"]{display:none!important}
a[href^="http://traderstart.mirtesen.ru"]{display:none!important}
a[href^="http://trafmaster.com"]{display:none!important}
a[href^="https://bongacams"][href*="com/track?"]{display:none!important}
a[href^="https://homyanus.com"]{display:none!important}
a[href^="https://kshop"][href*=".com/"]{display:none!important}
a[href^="https://kshop"][href*=".pro/"]{display:none!important}
a[href^="https://msetup.pro"]{display:none!important}
a[href^="https://relap.io/"][href*="promo_ad_link"]{display:none!important}
a[href^="https://wcm"][href*="weborama"][href*="/fcgi-bin/dispatch.fcgi?"]{display:none!important}
a[href^="https://www.juicer.io?referrer="]{display:none!important}
a[onclick*="/link-fes.ru"]{display:none!important}
a[onclick*="https://dzen.ru/news/?favid="]{display:none!important}
a[onclick*="n284adserv.com"]{display:none!important}
a[onclick*="offergate-amigo"]{display:none!important}
a[onclick*="trtkp.ru"]{display:none!important}
div[class$="_scrollable-doc"][id]{display:none!important}
div[class*="relap"][class*="-rec-item"]{display:none!important}
div[class*="spklw"][data-type="ad"]{display:none!important}
div[class*="td-a-rec-id-"]{display:none!important}
div[class="ad-zone"]{display:none!important}
div[class^="adfinity_block"]{display:none!important}
div[class^="bidvol-widget-"]{display:none!important}
div[class^="block_fortress"]{display:none!important}
div[class^="cnt32_"][id^="cnt_rb_"]{display:none!important}
div[class^="da-widget-"]{display:none!important}
div[class^="da-ya-widget"]{display:none!important}
div[class^="mixadvert"]{display:none!important}
div[class^="yandex_rtb"]{display:none!important}
div[data-adv-type="dfp"]{display:none!important}
div[data-id^="div-gpt-ad-"]{display:none!important}
div[data-server-rendered="true"] > div[id^="block-"]{display:none!important}
div[data-server-rendered="true"] > div[id^="la-"]{display:none!important}
div[id*="Teaser_Block"]{display:none!important}
div[id^="CGCandy"]{display:none!important}
div[id^="Crt-"][style]{display:none!important}
div[id^="DIV_DA_"]{display:none!important}
div[id^="M"][id*="Composite"]{display:none!important}
div[id^="adfox_"]{display:none!important}
div[id^="admixer-"]{display:none!important}
div[id^="admixer_"]{display:none!important}
div[id^="adpartner-jsunit-"]{display:none!important}
div[id^="ads_games_"]{display:none!important}
div[id^="advertur_"]{display:none!important}
div[id^="b_tz_"]{display:none!important}
div[id^="beroll_rotator"]{display:none!important}
div[id^="bidvol-widget-"]{display:none!important}
div[id^="cpa_rotator_block"]{display:none!important}
div[id^="criteo-"][style]{display:none!important}
div[id^="gnezdo_ru_"]{display:none!important}
div[id^="infox_"]{display:none!important}
div[id^="itizergroup_"]{display:none!important}
div[id^="join_informer_"]{display:none!important}
div[id^="movie_banner_"][style^="margin:"]{display:none!important}
div[id^="news_2xclick_ru_"]{display:none!important}
div[id^="news_nest_msk_ru"]{display:none!important}
div[id^="news_nest_net_ru"]{display:none!important}
div[id^="republer_"]{display:none!important}
div[id^="rtn4p"]{display:none!important}
div[id^="smi2adblock_"]{display:none!important}
div[id^="smi_teaser_"]{display:none!important}
div[id^="tizerws_"]{display:none!important}
div[id^="traffim-widget"]{display:none!important}
div[id^="trafmag_"]{display:none!important}
div[id^="yandex_rtb"]{display:none!important}
div[id^="zcbclk"]{display:none!important}
div[style*="am15.net/img/player_skins"]{display:none!important}
iframe[data-src*="fwdcdn.com/frame/partners/"]{display:none!important}
iframe[id^="marketgid_"]{display:none!important}
iframe[id^="republer"]{display:none!important}
iframe[src*="//refpakglscpj."]{display:none!important}
iframe[src*="/3647.tech"]{display:none!important}
iframe[src*="/carta.ua/ajax/widget."]{display:none!important}
iframe[src*="/mixadv_"]{display:none!important}
iframe[src*="://ab.adpro.com.ua/"]{display:none!important}
iframe[src*="://goodgame.ru/html/embed-player/dist/index.html?partner="]{display:none!important}
iframe[src*="://mark-media.com.ua"]{display:none!important}
iframe[src*="://partner-widget.vse-sdal.com/"]{display:none!important}
iframe[src*="://partner-widget.vsesdal.com/"]{display:none!important}
iframe[src*="://promo-bc.com/"]{display:none!important}
iframe[src*="://rstbtmd.com/"]{display:none!important}
iframe[src*="://vidroll.ru/"]{display:none!important}
iframe[src*="ads.exosrv.com"]{display:none!important}
iframe[src*="fwdcdn.com/frame/partners/"]{display:none!important}
iframe[src*="hd.gg33.top/"]{display:none!important}
iframe[src*="laim.tv/rotator/"]{display:none!important}
iframe[src*="litres.ru/static/widgets"]{display:none!important}
iframe[src*="traffic-media.co"]{display:none!important}
iframe[src*="trafic-media.ru"]{display:none!important}
iframe[src*="tureckiy-serial.ru/"][src$=".php"]{display:none!important}
iframe[src*="utraff.com"]{display:none!important}
iframe[src*="zhitomir.info/price"]{display:none!important}
iframe[src^="https://a.adtng.com/"]{display:none!important}
iframe[title="mixAd"]{display:none!important}
img[src*="://cp.beget.com/promo_data/"]{display:none!important}
img[width="120"][height="600"]{display:none!important}
img[width="160"][height="600"]{display:none!important}
img[width="728"][height="90"]{display:none!important}
noindex > .search_result[class*="search_result_"]{display:none!important}
object[data*="ads.com/clk.swf"]{display:none!important}
object[data^="blob"]{display:none!important}
script ~ #adspace{display:none!important}
smartframe-embed[customer-id]{display:none!important}
thetruestory-widget-top{display:none!important}
.a-buttons.blue-but.a-check{display:none!important}
.a-buttons.green-but.a-clock{display:none!important}
div[style="width: 252px; height: 450px; position: fixed; right: 0px; top: 0px; overflow: hidden; z-index: 10000;"]{display:none!important}
#pgeldiz{display:none!important}
body.has-brand .b-content__main .b-player a[href*="aHR0c"]{display:none!important}
body.has-brand .b-content__main > div[id]:not([class]):empty{display:none!important}
body.has-brand .b-content__main > div[style^="height: 250px; overflow: hidden;"]{display:none!important}
#root > .app #very-right-column{display:none!important}
#root > .app .adfox{display:none!important}
#root > .app .adfox-top{display:none!important}
#root > .app .brand-widget__right-cl{display:none!important}
#root > .app .partner-block-wrapper{display:none!important}
#root > .app .sportrecs{display:none!important}
#root > .app > .sticky-button{display:none!important}
.app.blog-post-page #blog-post-item-video-ad{display:none!important}
.app.blog-post-page .secondary-header-ad-block{display:none!important}
a[href*="://news.mirtesen.ru/newdata/"]{display:none!important}
.article-aside-promo a[href*="webcash&"]{display:none!important}
.flex-promo-series > .left-col > :not(#players):not(.serial-series-info){display:none!important}
.flex-promo-series > .right-col{display:none!important}
[itemtype*="://schema.org/TVEpisode"] [data-dlebid]{display:none!important}
.jtn-widget-adv{display:none!important}
.widget-autoru{display:none!important}
.rbcobmen{display:none!important}
#_u_ablock_bottomlink{display:none!important}
#_u_ablock_toplink{display:none!important}
#u_preroll_overlay{display:none!important}
#u_preroll_videoadbetnet{display:none!important}
#u_preroll_videoinvi{display:none!important}
#u_preroll_videomvd{display:none!important}
body > div[id^="dV"][style^="width"][style*="height"][style*="position"][style*="fixed"][style*="overflow"][style*="z-index"][style*="background"]{display:none!important}
body > div[style="background-color: #FFF;height: 100px;position: fixed;bottom: 0px;width: 100%;max-width: 1200px;left: 50%;transform: translateX(-50%);z-index:2147483647"]{display:none!important}
body > div[style="position: fixed; z-index: 999999; width: 400px; height: 308px; left: 5px; bottom: 5px;"]{display:none!important}
body > div[style="position: fixed; z-index: 999999; width: 400px; height: 308px; right: 5px; bottom: 5px;"]{display:none!important}
body > iframe[style^="position"][style*="fixed"][id^="iFb"][src^="/?"]{display:none!important}
body > div#dontfoid{display:none!important}
body > div[style^="position: fixed; inset: 0px; z-index: 2147483647; background: black; opacity: 0.01;"]{display:none!important}
html > div[style="position: fixed; inset: 0px; z-index: 2147483647; pointer-events: auto;"]{display:none!important}
body > div[class^="_"][class*=" _"][class$="_stBig"]{display:none!important}
.min-width-normal > #popup_container{display:none!important}
.min-width-normal > #popup_container ~ #fade{display:none!important}